.card {
  padding: var(--mantine-spacing-lg);
  background-color: var(--mantine-color-default);
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
