.text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
}

.value {
  margin-top: var(--mantine-spacing-lg);
  color: var(--mantine-color-cyan-filled);
  font-weight: 700;
}

.tooltip {
  position: absolute;
  top: 10px;
  right: 10px;
}
