name: Build CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-build:
    name: Run build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup proto tools
        uses: "moonrepo/setup-proto@v0"

      - name: Use proto tools and persist environment
        run: |
          proto use
          eval "$(proto activate)"
          echo "PATH=$PATH" >> $GITHUB_ENV

      - name: Install protobuf compiler
        run: sudo apt install -y protobuf-compiler

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build
