.container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  border-collapse: collapse;
}

.header {
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--mantine-color-gray-text);
}

.row {
  transition: background-color 100ms;
  text-align: left;
  white-space: nowrap;

  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
}
