.header {
  text-transform: uppercase;
  color: var(--mantine-color-gray-text);
}

.row {
  transition: background-color 100ms;

  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
}
